<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nitkkr.altius">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_altius_logo"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity
            android:name="com.nitkkr.altius.drawers.TeamTech.Team_Techsparsha"
            android:parentActivityName="com.nitkkr.altius.root.RootActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.nitkkr.altius.Fragments.guestLecture.FragmentGuestLecture"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.nitkkr.altius.root.RegisteredEvents.Registered_events"
            android:parentActivityName="com.nitkkr.altius.root.RootActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.nitkkr.altius.drawers.AboutUs.AboutUs"
            android:parentActivityName="com.nitkkr.altius.root.RootActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.nitkkr.altius.drawers.developers.Developers"
            android:parentActivityName="com.nitkkr.altius.root.RootActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.nitkkr.altius.events.eventDetail.EventInDetail"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.nitkkr.altius.events.eventList.CategoryList"
            android:parentActivityName="com.nitkkr.altius.root.RootActivity"
            android:screenOrientation="portrait"
            /> <!-- android:parentActivityName=".events.eventList.CategoryList"/> -->
        <activity android:name="com.nitkkr.altius.root.UserLogin"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.nitkkr.altius.drawers.LeftDrawerProfile"
            android:parentActivityName="com.nitkkr.altius.root.RootActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.nitkkr.altius.root.IntroSlider"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.nitkkr.altius.Fragments.food.FragmentFood"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.nitkkr.altius.Fragments.sponsership.FragmentSponsership"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.nitkkr.altius.Fragments.home.FragmentEventCategory"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.nitkkr.altius.root.RootActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.nitkkr.altius.MainActivitySplashScreen"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="@string/google_maps_key" />-->
        <service
            android:name="com.nitkkr.altius.PushNotification.MyFirebaseMessagingService"
            android:stopWithTask="false"
            android:screenOrientation="portrait"
            >
            <intent-filter>

                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.CALL_PHONE" />


</manifest>